<html><head>
<link rel="stylesheet" type="css" href="./css/layout.css">
<script type="javascript" src="submit.js"></script>
</head>
<body style="background-image:url('https://c.wallhere.com/photos/2b/63/DNA-179428.jpg!d');background-size:cover;padding:100px;">
<form class="submission" name="userdata" style="color:white">
First name:<br>
<input type="text" id="firstname">
<br>
Last name:<br>
<input type="text" id="lastname">
<br><br>
Please select all things that apply to you:
<legend>
<input type="checkbox" name="likes" value=0>STEM<input type="checkbox" name="likes" value=1>Biology
</legend>
<button type="button" onclick="insert()" style="margin-top:20px">Submit</button>
</form>
<p id="notif"></p>
</body></html>
